.projectCard {
  width: calc(33.33%); 
  height: 23.8vw;
  margin-right: 1.4vw; 
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
  perspective: 1000px;
}



.projectCard > div {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1.25vw;
  padding: 0.5vw;
  background-color: rgb(37, 36, 36);
  font-size: 1vw;
  color: #d8d8d8;
}

.front h2 {
  font-family: 'Roboto Mono';
  font-weight: lighter;
  font-size: 1.5vw; 
  margin: 0.5vw; 
}

.front img {
  width: 100%;
  height: auto; 
  padding: 0.5vw; 
}

.front button {
  font-size: 1.2vw;
  font-family: 'Roboto Mono';
  font-weight: black;
  background: #d8d8d8;
  color: rgb(37, 36, 36);
  border: 0.2vw solid rgb(37, 36, 36);
  border-radius: 5%;
  padding: 0.5vw; 
  cursor: pointer;
  box-shadow: 0 0.125vw 0.15vw rgba(0, 0, 0, 0.9);
}

.front button:hover {
  background: rgb(37, 36, 36);
  color: #d8d8d8;
  border: solid 0.2vw #d8d8d8;
}



.modalContent {
  background: #d8d8d8;
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  text-align: center;
  border: solid 0.5vw rgba(0, 0, 0, 0.8);
  border-radius: 1.25vw;
}

.modalContent h3 {
  font-family: 'Roboto Mono';
  font-weight: lighter;
  font-size: 1.3vw; 
  margin: 1.5vw; 
  padding: 0.4vw;
}

.modalContent p{
  font-family: 'Roboto Mono';
  font-weight: lighter;
  text-align: justify;
  font-size: 1.2vw; 
  margin: 0.5vw;
  padding: 0.8vw;
}

/* Para cerrar el modal al hacer clic fuera de la ventana */
.modalOverlay {
  position: fixed;
  cursor: pointer;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw;
}

.linksContainer a {
  display: flex;
  font-family: 'Roboto Mono';
  align-items: center;
  text-decoration: none;
  background: rgb(37, 36, 36);
  color: #d8d8d8;
  border-radius: 5%;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.15rem rgba(0, 0, 0, 0.9);
}

.linksContainer a:hover {
  text-decoration: underline; /* Agrega subrayado al hacer hover */
  background: #d8d8d8;
  color: rgb(37, 36, 36);
  border: solid 0.2vw rgb(37, 36, 36);
}

.reactIcon {
  padding: 0.5vw;
  height: 2vw;
  width: 2vw;
  background: rgb(37, 36, 36);
  color: #d8d8d8;
  border-radius: 5%;
  cursor: pointer;
}

.reactIcon:hover {
  background: #d8d8d8;
  color: rgb(37, 36, 36);
  border: rgb(37, 36, 36);
}

.deploy {
  padding: 0.6vw;
  background: rgb(37, 36, 36);
  color: #d8d8d8;
  border-radius: 5%;
  cursor: pointer;
}

.deploy:hover {
  background: #d8d8d8;
  color: rgb(37, 36, 36);
}

.linksContainer button {
  font-size: 1.2vw;
  font-family: 'Roboto Mono';
  background: #d8d8d8;
  color: rgb(37, 36, 36);
  border-radius: 5%;
  padding: 0.38rem;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.15rem rgba(0, 0, 0, 0.9);
}

.linksContainer button:hover {
  background: rgb(37, 36, 36);
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .projectCard {
    width: 95%;
    min-height: 65vw;
    margin: 1.1vw; 
    padding: 1vw; 
    position: relative;
  }
  
  .front {
    margin: 2vw;
    padding: 0.5vw;
  }
 
  .front h2 {
    font-family: 'Roboto Mono';
    font-weight: lighter;
    font-size: 4.5vw; 
    padding: 0.5vw; 
    margin: 0.1vw; 
  }

  .front img {
    width: 98%;
    height: 67%;
    padding: 1vw; 
  }

  .front button {
    font-weight: 500;
    font-size: 3.8vw; 
    border-radius: 5%;
    padding: 1.3vw; 
    margin: 1vw; 
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background: #fff;
    width: 80%; /* Modificado para que no ocupe todo el 100% */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  /* Para cerrar el modal al hacer clic fuera de la ventana */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
