.projectCard {
  width: calc(33.3% - 1.2rem);
  height: 18.75rem;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
  perspective: 1000px;
}


.projectCard.flipped {
  transform: rotateY(180deg);
}

.projectCard > div {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
}

.front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.625rem;
  padding: 0.4rem;
  background-color: rgb(37, 36, 36);
  font-size: 1rem;
  color: #d8d8d8;
}

.front h2 {
  font-family: 'Roboto Mono';
  font-size: 1.25rem;
  margin: 0.4rem;
}

.front img {
  width: 100%; /* Asegura que todas las imágenes tengan el mismo ancho */
  height: 100%;
  border-radius: 5%;
  padding: 0.4rem;
}

.front button {
  font-size: 0.98rem;
  font-family: 'Roboto Mono';
  background: #d8d8d8;
  color: rgb(37, 36, 36);
  border: 0.2rem solid rgb(37, 36, 36);
  border-radius: 5%;
  padding: 0.38rem;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.15rem rgba(0, 0, 0, 0.9);
}

.front button:hover {
  background: rgb(37, 36, 36);
  color: #d8d8d8;
  border: solid 0.2rem #d8d8d8;
}

.back {
  transform: rotateY(180deg);
  transform-origin: center;
  display: flex;
  font-family: 'Roboto Mono';
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d8d8d8;
  border: 1px solid #ccc;
  border-radius: 0.625rem;
  padding: 0.4rem;
  color: rgb(37, 36, 36);
}

.back h3 {
  font-size: 1.3rem;
  margin: 0.2rem;
  padding: 0.4rem;
}

.back p {
  font-size: 1.1rem;
  margin: 0.4rem;
  padding: 0.4rem;
}

.back .linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0.5rem;
}

.back a {
  display: flex;
  font-family: 'Roboto Mono';
  align-items: center;
  padding: 0.4rem;
  text-decoration: none;
  
}

.deploy {
  font-family: 'Roboto Mono';
  font-size: 1.2rem;
  background: rgb(37, 36, 36);
  color: #d8d8d8;
  border-radius: 5%;
  padding: 0.38rem;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.15rem rgba(0, 0, 0, 0.9);
}


.deploy:hover {
  background: #d8d8d8; 
  border: 0.2rem solid rgb(37, 36, 36);
  color: rgb(37, 36, 36);
}

.reactIcon {
  padding: 0.3rem;
  height: 2.5rem;
  width: 2.5rem;
  background: rgb(37, 36, 36);
  color: #d8d8d8;
  border-radius: 5%;
  padding: 0rem;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.15rem rgba(0, 0, 0, 0.9);
}

.reactIcon:hover {
  background: #d8d8d8; 
  border: 0.2rem solid rgb(37, 36, 36);
  color: rgb(37, 36, 36);
}

.back button {
  font-size: 0.98rem;
  font-family: 'Roboto Mono';
  background: #d8d8d8;
  color: rgb(37, 36, 36);
  border: 0.2rem solid rgb(37, 36, 36);
  border-radius: 5%;
  padding: 0.38rem;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.15rem rgba(0, 0, 0, 0.9);
}

.back button:hover {
  background: rgb(37, 36, 36);
  color: #d8d8d8;
}

@media (max-width: 768px) {
  /* Estilos para las tarjetas en pantallas de celulares */
  .projectCard {
    width: 93%; /* Ocupa todo el ancho del contenedor */
    margin: 0.2rem; /* Agrega un margen vertical para separar las tarjetas */
    padding: 0.2rem;
  }

  .projectCard > div {
    width: 100%; /* Ocupan todo el ancho del contenedor principal */
    height: 98%; /* Altura automática para ajustarse al contenido */
  }

  .front {
    margin: 0.2rem;
    padding: 0.2rem;
  }
 
  .front h2 {
    font-family: 'Roboto Mono';
    font-size: 1.25rem;
    padding: 0.4rem;
    color: white;
    font-weight: normal;
  }

  .front img {
    width: 98%; /* Asegura que todas las imágenes tengan el mismo ancho */
    height: 98%;
    border-radius: 5%;
    padding: 0.05rem;
  }

  .front button {
    font-size: 1rem;
    border-radius: 5%;
    padding: 0.38rem;
    margin: 0.3rem;
    cursor: pointer;
    font-weight: normal;
    box-shadow: 0 0.125rem 0.15rem rgba(0, 0, 0, 0.9);
  }

  .back {
    padding: 0rem;
    margin:0.2rem -0.355rem 0.2rem -0.370rem;
    font-size: 0.8rem; /* Ajusta el tamaño de fuente según tus preferencias */
  }

  .back h3 {
    font-size: 1rem;
    padding: 0.2rem;
  }

  .back p {
    padding: 0.2rem;
    margin: 0.4rem 0.3rem 0.45rem 0.3rem;
    font-size: 1rem;
    text-align: justify;
  }

  .back .linksContainer {
    padding: 0.3rem;
    margin: 0.2rem;
  }

  .back a {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    padding: 0.2rem;
    margin: 0.1rem
  }

  .reactIcon {
    padding: 0.3rem;
    height: 2.5rem;
    width: 2.5rem;
    background: rgb(37, 36, 36);
    color: #d8d8d8;
    border-radius: 5%;
    padding: 0rem;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.15rem rgba(0, 0, 0, 0.9);
  }
}



