  .proyectsContainer {
    text-align: center;
    margin: 0.4vw;
  }

  .proyectsContainer h1 {
    font-size: 2.5vw;
    font-family: 'Roboto Mono';
    font-weight: lighter;
    background-color: rgb(37, 36, 36);
    color: #ffffff;
    padding: 1vw; 
    border-radius: 1.25vw; 
    box-shadow: 0 0.125vw 0.25vw rgba(0, 0, 0, 0.4); 
    display: inline-block;
  }
  
  .cardContainer {
    display: flex;
    justify-items: center;
    margin: 0.1vw; 
  }
  
  @media (max-width: 768px) {
    .proyectsContainer {
      margin: 0.2vw; 
    }
  
    .proyectsContainer h1 {
      font-size: 1.8vw; 
      padding: 1vw; 
      border-radius: 1.25vw; 
      box-shadow: 0 0.125vw 0.25vw rgba(0, 0, 0, 0.4);
      display: inline-block;
      margin: 0.15vw; 
    }
  
    /* Estilos para los contenedores de tarjetas en pantallas de celulares */
    .cardContainer {
      flex-direction: column;
      margin: 0.001vw; /* 0.001rem a 0.001vw */
      padding: 0.001vw; /* 0.001rem a 0.001vw */
    }
  }
  