.proyectsContainer {
    margin: 0.6rem;
    text-align: center;
  }

  .proyectsContainer h1 {
    font-size: 1.9rem; 
    font-family: roboto mono;
    background-color: rgb(37, 36, 36);
    color: #ffffff;
    padding: 0.4rem; 
    border-radius: 0.625rem; 
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
    display: inline-block;
  }
  
  .cardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.4rem;
  }
  