/* about.module.css */
.aboutContainer {
  text-align: left;
  padding: 10px;
  background: transparent;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.aboutContainer h1 {
  font-size: 80px;
  color: #ffffff;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.educationTitle {
  font-size: 35px;
  color: aquamarine;
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  margin-top: 50px;
}

.locationContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Colocar en el angulo superior derecho */
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  font-size: 26px;
  margin: 5px 5px 100px;
  color: white;
}

.locationIcon {
  margin-right: 5px;
}

.legend {
  font-size: 50px;
  color: #d8d8d8;
  grid-column: 2;
  grid-row: 2;
  text-align: right; /* Alinear en el angulo inferior derecho */
  margin: 0;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .aboutContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    margin: 10px;
  }

  .aboutContainer h1 {
    font-size: 50px;
  }

  .educationTitle {
    font-size: 24px;
    margin-top: 10px;
  }

  .locationContainer {
    font-size: 18px;
    justify-content: center; /* Centrar en pantalla pequeña */
    margin: 5px 5px 5px 5px;
  }

  .legend {
    font-size: 30px;
    text-align: center; /* Centrar en pantalla pequeña */
  }
}
