/* about.module.css */
.aboutContainer {
  font-family: roboto mono;
  text-align: left;
  padding: 10px;
  background: transparent;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.aboutContainer h1 {
  font-size: 70px;
  color: #ffffff;
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  background-color: rgb(37, 36, 36);
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.educationTitle {
  font-size: 30px;
  color: rgb(0, 0, 0);
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  margin-top: 50px;
  background-color: rgba(255, 46, 120);
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.locationContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Colocar en el angulo superior derecho */
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  font-size: 26px;
  margin: 0px 5px 60px;
  color: white;
}

.locationIcon {
  margin-right: 5px;
}

.legend {
  font-size: 45px;
  color: #d8d8d8;
  grid-column: 2;
  grid-row: 2;
  text-align: right; /* Alinear en el angulo inferior derecho */
  margin: 0;
  background-color: rgb(37, 36, 36);
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .aboutContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    margin: 5px;
  }

  .aboutContainer h1 {
    font-size: 40px;
  }

  .educationTitle {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .locationContainer {
    font-size: 16px;
    justify-content: center; /* Centrar en pantalla pequeña */
    margin: 0px 5px 5px 5px;
  }

  .legend {
    font-size: 20px;
    text-align: center; /* Centrar en pantalla pequeña */
  }
}
