.contactSection {
    text-align: center;
    padding: 1vw;
    margin: 1vw;
    background-color: rgba(37, 36, 36, 0.034);
}

.contactSection h1 {
    font-size: 2.5vw;
    font-family: 'Roboto Mono'; 
    font-weight: lighter;
    background-color: rgb(37, 36, 36);
    color: #ffffff;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.4);
    display: inline-block;
}


.contactIcons {
    display: flex;
    justify-content: center;
}

.contactIcons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    height: 13vw;
    margin: 2vw;
    font-size: 5vw;
    text-decoration: none;
    color: rgb(37, 36, 36);
    background-color: #d8d8d8;
    border: 0.5vw solid rgb(144, 255, 218);
    border-radius: 1vw;
    transition: background-color 0.3s, color 0.3s;
}

.contactIcons a:hover {
    background-color: rgba(80, 194, 220, 0.507);
    color: #d8d8d8;
}

.cvDownload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5vw; 
}

.cvDownload a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 12vw;
    margin: 2vw;
    font-size: 2vw;
    text-decoration: none;
    color: #d8d8d8;
    background-color: rgb(37, 36, 36);
    border: 0.5vw solid rgb(144, 255, 218);
    border-radius: 1vw;
    transition: background-color 0.3s, color 0.3s;
}

.cvDownload a:hover {
    background-color: #d8d8d8;
    color: rgb(37, 36, 36);
    border: 0.5vw solid rgb(37, 36, 36);
}

.iconCV {
    width: 5vw;
    height: 5vw;
    font-size: 5vw;
    margin: 1vw; 
}

.cvText {
    font-family: 'Roboto Mono';
    font-size: 2vw; 
}

/* Media Query para dispositivos móviles */
    @media (max-width: 768px) {
        .contactSection h1 {
            font-size: 4.5vw; 
        }
    
        .contactIcons {
            flex-direction: row; /* Cambiamos la dirección de los iconos a fila en dispositivos móviles */
            flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila si no caben en una sola */
            justify-content: center; /* Centramos los iconos horizontalmente */
        }
    
        .contactIcons a {
            width: 35vw;
            height: 20vw;
            margin: 4vw; 
            border-radius: 2vw;
            font-size: 10vw;
        }

        .cvDownload {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1vw; 
        }
        
        .cvDownload a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 18vw;
            height: 18vw;
            margin: 2vw;
            font-size: 6vw;
            text-decoration: none;
            color: #d8d8d8;
            background-color: rgb(37, 36, 36);
            border: 0.5vw solid rgb(144, 255, 218);
            border-radius: 1vw;
            transition: background-color 0.3s, color 0.3s;
        }

        .iconCV {
            width: 8vw;
            height: 8vw;
            font-size: 8vw;
            margin: 1vw; 
        }
        
        .cvText {
            font-family: 'Roboto Mono';
            font-size: 3vw; 
            margin: 1vw;
        }
    }



    

