/* Estilos para la sección de contacto */
.contactSection {
    text-align: center;
    padding: 0.6rem;
    background-color: rgba(37, 36, 36, 0.034);
}

.contactSection h1 {
    font-size: 1.9rem;
    font-family: 'Roboto Mono'; /* Agrega comillas al nombre de la fuente */
    background-color: rgb(37, 36, 36);
    color: #ffffff;
    padding: 0.4rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
    display: inline-block;
}

/* Estilos para los iconos como botones cuadrados */
.contactIcons {
    display: flex;
    justify-content: center;
}

.contactIcons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    margin: 1rem;
    font-size: 3rem;
    text-decoration: none;
    color: rgb(37, 36, 36);
    background-color: #d8d8d8;
    border: 1px solid rgb(144, 255, 218);
    border-radius: 0.6rem;
    transition: background-color 0.3s, color 0.3s;
}

.contactIcons a:hover {
    background-color: rgba(80, 194, 220, 0.507);
    color: #d8d8d8;
}

.cvDownload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem; /* Ajusta el margen superior según sea necesario */
}

.cvDownload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem; /* Ajusta el margen superior según sea necesario */
}

.cvDownload a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #d8d8d8;
    background-color: rgb(37, 36, 36);
    border: 1px solid #d8d8d8;
    border-radius: 0.6rem;
    transition: background-color 0.3s, color 0.3s;
}

.cvDownload a:hover {
    background-color: #d8d8d8;
    color: rgb(37, 36, 36);
}

.iconCV {
    width: 4rem;
    height: 4rem;
    font-size: 3.8rem;
    margin: 0.3rem; /* Ajusta el espacio entre el icono y el texto según sea necesario */
}

.cvText {
    font-family: 'Roboto Mono';
    font-size: 0.95rem; /* Ajusta el tamaño de la fuente del texto según sea necesario */
}

/* Media Query para dispositivos móviles */
    @media (max-width: 768px) {
        .contactSection h1 {
            font-size: 1.6rem; /* Reducimos el tamaño del encabezado para dispositivos móviles */
            margin: 0.3rem;
        }
    
        .contactIcons {
            flex-direction: row; /* Cambiamos la dirección de los iconos a fila en dispositivos móviles */
            flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila si no caben en una sola */
            justify-content: center; /* Centramos los iconos horizontalmente */
        }
    
        .contactIcons a {
            width: 40%; /* Establecemos un ancho del 45% para mostrar dos columnas */
            height: 7rem; /* Mantenemos la altura deseada */
            margin: 1rem; /* Margen para separar los iconos */
        }
    }

