.headerContainer {
  background: rgba(0, 0, 0, 0.93);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas */
  align-items: center;
  color: #fff;
}

.leftColumn {
  display: flex; /* Activa el modelo de caja flexible */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 1px;
}


.headerImage {
  border-radius: 10%;
  max-width: 120px;
  padding: 10px;
  margin-left: 20px; 

}

.textContainer1 h1 {
  font-size: 45px;
  background-color: rgba(80, 195, 220, 0.3); /* Cambia el último valor para controlar la transparencia */
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: inline-block;
  margin-left: 40px;
  text-align: center;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-right: 40px;
}

.textContainer2 h2 {
  font-size: 35px;
  margin: 0;
  background-color: rgba(255, 46, 120, 0.384);
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: inline-block;
}

.iconsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.reactIcon {
  font-size: 32px;
  /* Puedes agregar estilos adicionales para el icono si lo deseas */
}

.iconName {
  margin-top: 5px;
  font-size: 16px; /* Establece el tamaño de fuente del nombre del icono */
  opacity: 0;
  position: absolute;
  bottom: -20px; /* Ajusta la posición del nombre */
  left: 50%;
  transform: translateX(-50%);
  /* Puedes personalizar más estilos para el nombre del icono aquí */
}

.iconWrapper:hover .iconName {
  opacity: 1;
}



/* Estilos para pantallas más pequeñas (máximo 600px de ancho) */
@media (max-width: 600px) {
  .headerContainer {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
  }
}
